<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ETCSMessageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ETCSMessageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ETCSMessageService.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>63300</value>
            </setting>
            <setting name="LocalIPAddress" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
            <setting name="MiddlewarePassword" serializeAs="String">
                <value>testtest</value>
            </setting>
            <setting name="StardogServer" serializeAs="String">
                <value>192.168.1.115:5820</value>
            </setting>
            <setting name="StardogDB" serializeAs="String">
                <value>racoon</value>
            </setting>
            <setting name="StardogUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="StardogPassword" serializeAs="String">
                <value>admin</value>
            </setting>
        </ETCSMessageService.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAurthenticateService" />
                <binding name="BasicHttpBinding_IInsertTripple" />
                <binding name="BasicHttpBinding_IAurthenticateService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14283/AurthenticateService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAurthenticateService"
                contract="AurthService.IAurthenticateService" name="BasicHttpBinding_IAurthenticateService" />
            <endpoint address="http://localhost:14283/RacoonServices/InsertTripple.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsertTripple"
                contract="InsertService.IInsertTripple" name="BasicHttpBinding_IInsertTripple" />
            <endpoint address="http://localhost:14283/AurthenticateService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAurthenticateService1"
                contract="AurthenticateService.IAurthenticateService" name="BasicHttpBinding_IAurthenticateService1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ETCSMessageService.Properties.Settings>
            <setting name="MiddlewareAccount" serializeAs="String">
                <value>test</value>
            </setting>
        </ETCSMessageService.Properties.Settings>
    </applicationSettings>
</configuration>