<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiddleWareBussinessObjects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MiddleWareBussinessObjects.Properties.Settings>
            <setting name="QueryDefsPath" serializeAs="String">
                <value>C:\localRepos\racoonMiddleware\actualQuery.rst</value>
            </setting>
            <setting name="minutesTokenValid" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="userNameToToken" serializeAs="String">
                <value>:Token</value>
            </setting>
        </MiddleWareBussinessObjects.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
